{% extends 'base.html' %}

{% block content %}
<div class="container">
  <p>
     I made this website because I wanted to work with the riot api and I thought there were probably more than enough league of legends websites.
     This website gives you the match history of any summoner who has played teamfight tactics. I went through with this project because I thought
     there was a feature that was missing from bigger tft websites so I decided I could implement that feature myself if I wanted it.
     This is the <a href="https://github.com/Herrera-pgoat/teamfight_tactics_project"> link to the projects github.</a>
  </p>
</div>

{% endblock %}
