<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/phone_viewing.css') }}">

  <body>
    <!--Putting the navbar on every page! -->
    {% include 'partials/_navbar.html' %}

    {% block content %}

    {% endblock %}
  </body>

  <script>
  //some javascript so that the enter key is as good as a button press
    document.getElementById("nav_search").addEventListener("input", enter);

    function enter(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("nav_submit").click();
      }
    }
  </script>

  <script src={{url_for('static',filename='js/jquery-3.4.1.js')}} > </script>
	<script src={{url_for('static',filename='js/bootstrap.bundle.min.js')}} > </script>
</html>
