<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <body>
    <div class="col-12 container mt-5 ml-3">
      <form action="{{url_for('.findUserHelper')}}" method="POST">
        <input type="text"  class="form-control col-12 col-lg-4 "name='username' placeholder="enter summoner name"/>
        <input type = "submit" class="btn mr-5" name="submit" value="submit form" style="background-color:#30a7d7"/>
      </form>
    </div>
    {% block content %}

    {% endblock %}
  </body>

</html>
